
<div class="card" data-ng-controller="ControllerWarcraftSounds">

	<div class="card-header">{{plugin.name}}</div>

	<div class="card-block">

		<div class="form-group">

			<label>Races</label>

			<div class="form-group" data-ng-show="1 >= races.length">
				<div class="form-control" data-ng-show="0 == races.length">--</div>
				<div class="form-control" data-ng-show="1 == races.length">{{selectedrace.name}}</div>
			</div>

			<select class="form-control"
					data-ng-disabled="!races.length" data-ng-class="{'disabled' : !races.length }"
					data-ng-options="race.name for race in races"
					data-ng-model="selectedrace"
					data-ng-change="selectRace(selectedrace);"
					data-ng-show="1 < races.length">
				<option value="">--</option>
			</select>

		</div>

		<div data-ng-show="selectedrace">

			<div class="row">
				
				<div class="form-group" data-ng-class="{ 'col-xs-6': 0 < warnings.length, 'col-xs-12': 0 >= warnings.length }" data-ng-show="0 < musics.length">

					<label>Musiques</label>

					<div class="input-group">

						<div class="form-group" data-ng-show="1 == musics.length">
							<div class="form-control" data-ng-show="1 == musics.length">{{selectedmusic.name}}</div>
						</div>

						<select class="form-control"
								data-ng-disabled="!musics.length" data-ng-class="{'disabled' : !musics.length }"
								data-ng-options="music.name for music in musics"
								data-ng-model="selectedmusic"
								data-ng-show="1 < musics.length">
							<option value="">--</option>
						</select>

						<span class="input-group-btn">

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedmusic" data-ng-class="{'disabled' : !selectedmusic }"
									data-ng-click="previewMusic(selectedrace, selectedmusic);">
								<span class="fa fa-play"></span>
							</button>

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedmusic || !selecteddevice" data-ng-class="{'disabled' : !selectedmusic || !selecteddevice }"
									data-ng-click="playMusicOnChild(selecteddevice, selectedmusic);"
									data-toggle="tooltip" data-placement="auto" title="Jouer cette musique sur cet enfant">
								<span class="fa fa-music"></span>
							</button>

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedmusic || !selecteddevice" data-ng-class="{'disabled' : !selectedmusic || !selecteddevice }"
									data-ng-click="createSound(selecteddevice, selectedmusic);"
									data-toggle="tooltip" data-placement="auto" title="Créer une action avec cette musique sur cet enfant">
									<span class="fa fa-fire"></span>
							</button>

						</span>

					</div>

				</div>

				<div class="form-group" data-ng-class="{ 'col-xs-6': 0 < musics.length, 'col-xs-12': 0 >= musics.length }" data-ng-show="0 < warnings.length">

					<label>Alertes</label>

					<div class="input-group">

						<div class="form-group" data-ng-show="1 == warnings.length">
							<div class="form-control">{{selectedwarning.name}}</div>
						</div>

						<select class="form-control"
								data-ng-disabled="!warnings.length" data-ng-class="{'disabled' : !warnings.length }"
								data-ng-options="warning.name for warning in warnings"
								data-ng-model="selectedwarning"
								data-ng-show="1 < warnings.length">
							<option value="">--</option>
						</select>

						<span class="input-group-btn">

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedwarning" data-ng-class="{'disabled' : !selectedwarning }"
									data-ng-click="previewWarning(selectedrace, selectedwarning);"
									data-toggle="tooltip" data-placement="auto" title="Ecouter ce warning.">
								<span class="fa fa-play"></span>
							</button>

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedwarning || !selecteddevice" data-ng-class="{'disabled' : !selectedwarning || !selecteddevice }"
									data-ng-click="playWarningOnChild(selecteddevice, selectedwarning);"
									data-toggle="tooltip" data-placement="auto" title="Jouer cette alerte sur cet enfant">
								<span class="fa fa-music"></span>
							</button>

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedwarning || !selecteddevice" data-ng-class="{'disabled' : !selectedwarning || !selecteddevice }"
									data-ng-click="createSound(selecteddevice, selectedwarning);"
									data-toggle="tooltip" data-placement="auto" title="Créer une action avec cette alerte sur cet enfant">
									<span class="fa fa-fire"></span>
							</button>

						</span>

					</div>

				</div>

			</div>

			<div class="row" data-ng-show="0 < characters.length">
				
				<div class="form-group" data-ng-class="{ 'col-xs-6': selectedcharacter, 'col-xs-12': !selectedcharacter }">

					<label>Personnages</label>

					<div class="form-group" data-ng-show="1 >= characters.length">
						<div class="form-control" data-ng-show="0 == characters.length">--</div>
						<div class="form-control" data-ng-show="1 == characters.length">{{selectedcharacter.name}}</div>
					</div>

					<select class="form-control"
							data-ng-disabled="!characters.length" data-ng-class="{'disabled' : !characters.length }"
							data-ng-options="character.name for character in characters"
							data-ng-model="selectedcharacter"
							data-ng-change="selectCharacter(selectedcharacter);"
							data-ng-show="1 < characters.length">
						<option value="">--</option>
					</select>

				</div>

				<div class="form-group col-xs-6" data-ng-show="selectedcharacter">

					<label>Actions</label>

					<div data-ng-class="{'input-group' : 0 < actions.length }">

						<div class="form-group" data-ng-show="1 >= actions.length">
							<div class="form-control" data-ng-show="0 == actions.length">Aucune action</div>
							<div class="form-control" data-ng-show="1 == actions.length">{{selectedaction.name}}</div>
						</div>

						<select class="form-control"
								data-ng-disabled="!actions.length" data-ng-class="{'disabled' : !actions.length }"
								data-ng-options="action.name group by action.type.name for action in actions"
								data-ng-model="selectedaction"
								data-ng-show="1 < actions.length">
							<option value="">--</option>
						</select>

						<span class="input-group-btn" data-ng-show="0 < actions.length">

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedaction" data-ng-class="{'disabled' : !selectedaction }"
									data-ng-click="previewAction(selectedrace, selectedcharacter, selectedaction)">
								<span class="fa fa-play"></span>
							</button>

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedaction || !selecteddevice" data-ng-class="{'disabled' : !selectedaction || !selecteddevice }"
									data-ng-click="playActionOnChild(selecteddevice, selectedaction);"
									data-toggle="tooltip" data-placement="auto" title="Jouer cette action sur cet enfant">
								<span class="fa fa-music"></span>
							</button>

							<button type="button" class="btn btn-primary"
									data-ng-disabled="!selectedaction || !selecteddevice" data-ng-class="{'disabled' : !selectedaction || !selecteddevice }"
									data-ng-click="createSound(selecteddevice, selectedaction);"
									data-toggle="tooltip" data-placement="auto" title="Créer une action avec cette action sur cet enfant">
									<span class="fa fa-fire"></span>
							</button>

						</span>

					</div>

				</div>

			</div>

			<div class="row" data-ng-show="selectedaction.code || selectedmusic.code || selectedwarning.code">
				
				<div class="form-group col-xs-12">

					<div class="form-group" data-ng-show="devices.length">

						<label>Enfants</label>

						<div class="form-group" data-ng-show="1 >= devices.length">
							<div class="form-control" data-ng-show="0 == devices.length">--</div>
							<div class="form-control" data-ng-show="1 == devices.length">{{selecteddevice.name}}</div>
						</div>

						<select class="form-control"
								data-ng-options="device.name for device in devices"
								data-ng-model="selecteddevice"
								data-ng-show="1 < devices.length">
							<option value="">--</option>
						</select>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
